
<div class="col-md-2"></div>
{% for message in app.flashes('notice') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
<div class="row-fluid">
    {{ form_start(form,{'attr':{'class':'form-horizontal','id':''}})  }}


    <div class="control-group">
        {{ form_label(form.soldPrice, 'Sold Price', { 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.soldPrice,{'attr': {'class': 'span4' } }) }}
            {{ form_widget(form.entryDetails, { 'value':entryDetailsId }) }}
            {{ form_widget(form.actionStatus, { 'value':actionStatus }) }}
        </div>
    </div>
    <div class="control-group">
        <button class=" btn btn-success" style="margin-left:200px;">{{ button_label|default('Sold') }}</button>
    </div>
    {{ form_end(form) }}
</div>

